{% if route is not defined %}
    {% set route = app._route %}
    {% set params = app._route_params(params|default({})) %}
{% endif %}
{% set projects = app.domain.projects|default(app.projects) %}
{% if nofilter|default %}
    {% set projects = app.projects %}
{% endif %}
<a data-target="popin" href="{{ path('core_project_admin_project_add') }}" class="icon-plus-circle icon-only">Add</a>
<ul class="projects">
    {% for project in projects %}
        {% set params = params|default({})|merge({'@project': project.name}) %}
        <li{% if app.project == project %} class="selected"{% endif %}>
            <a href="{{ path(route, params) }}" class="icon-{{ project.logo|default('no') }}">{{ project }}</a>
            {% if project.domains.count > 0 %}
                [{{ project.domains.count }} domain{% if project.domains.count > 1 %}s{% endif %}]
            {% endif %}
            <div>
                <a data-target="popin"
                   href="{{ path('core_project_admin_project_edit', { '@project': project.name } ) }}"
                   class="icon-edit icon-only">Edit</a>
                <a data-target="popin"
                   href="{{ path('core_project_admin_project_del', { '@project': project.name } ) }}"
                   class="icon-trash icon-only">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>