{% extends app.layout(_self) %}

{% block content %}
    <section id="dashboard">
        <h2>
            Dashboard
            {% if app.project|default %}
                for project {{ app.project.label }}
                {% if app.domain|default %}
                    and domain {{ app.domain.label }}
                {% endif %}
            {% elseif app.domain|default %}
                for domain {{ app.domain.label }}
            {% endif %}
        </h2>
        <section class="tools">
            <h3>Tools</h3>
            <ul>
                {% for tool in app.tools %}
                    <li>
                        <a href="{{ path(tool.route) }}"
                           class="{{ tool.class|default('icon-no') }}">{{ tool.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% if not app.project|default %}
            <section class="projects">
                <h3>Projects</h3>
                <ul>
                    {% for project in app.domain.projects|default(app.projects) %}
                        <li>
                            <a href="{{ path(app._route, app._route_params({'@project': project.name})) }}"
                               class="icon-{{ project.logo|default('no') }}">{{ project.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if not app.domain|default %}
            <section class="domains">
                <h3>Domains</h3>
                <ul>
                    {% for domain in app.project.domains|default(app.domains) %}
                        <li>
                            <a href="{{ path(app._route, app._route_params({'@domain': domain.name})) }}"
                               class="icon-{{ domain.logo|default('no') }}">{{ domain.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </section>

{% endblock %}

