{% if route is not defined %}
    {% set route = app.masterRequest.attributes.get('_route') %}
    {% set params = params|default({})|merge(app.masterRequest.attributes.get('_route_params')) %}
{% endif %}
{% set enableLink = (not app.route(route).hasdefault('@domain')) %}
{% if select|default %}
    <select{% if enableLink %} onchange="window.location=this.value"{% endif %}>
        <option>Choose domain</option>
        {% for domain in app.domains if not app.project or app.project in domain.getProjects() %}
            {% set params = params|default({})|merge({'@domain': domain.name}) %}
            <option value="{{ path(route, params) }}"{% if app.domain == domain %} selected="selected"{% endif %}
                    class="icon-{{ domain.logo|default('no') }}"{% if not enableLink %} disabled{% endif %}>
                {{ domain.label }}
            </option>
        {% endfor %}
    </select>
{% else %}
    <ul>
        {% for domain in app.domains if not app.project or app.project in domain.getProjects() %}
            {% set params = params|default({})|merge({'@domain': domain.name}) %}
            <li{% if app.domain == domain %} class="selected"{% endif %}>
                {% if enableLink %}
                    <a href="{{ path(route, params) }}"
                       class="icon-{{ domain.logo|default('no') }}">{{ domain.label }}</a>
                {% else %}
                    <span class="icon-{{ domain.logo|default('no') }}">{{ domain.label }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}