{% extends app.layout(_self) %}

{% block content %}
    <section id="dashboard">
        <h2>
            Dashboard
            {% if app.project|default %}
                for project {{ app.project }}
                <a data-target="popin"
                   href="{{ path('core_project_admin_project_edit', { '@project': app.project.name } ) }}"
                   class="icon-edit icon-only">Edit</a>
                {% if app.domain|default %}
                    and domain {{ app.domain }}
                    <a data-target="popin"
                       href="{{ path('core_project_admin_domain_edit', { '@domain': app.domain.name } ) }}"
                       class="icon-edit icon-only">Edit</a>
                {% endif %}
            {% elseif app.domain|default %}
                for domain {{ app.domain }}
                <a data-target="popin"
                   href="{{ path('core_project_admin_domain_edit', { '@domain': app.domain.name } ) }}"
                   class="icon-edit icon-only">Edit</a>
            {% endif %}
        </h2>

        {% if not app.project|default %}
            <section class="list">
                <h3>Projects</h3>
                {% include 'CoreProjectBundle:Admin:projects_list.html.twig' with {} only %}
            </section>
        {% endif %}

        {% if not app.domain|default %}
            <section class="list">
                <h3>Domains</h3>
                {% include 'CoreProjectBundle:Admin:domains_list.html.twig' with {} only %}
            </section>
        {% endif %}

        <section class="list">
            <h3>Tools</h3>
            {% include 'CoreLayoutBundle:Default:tools_list.html.twig' with {} only %}
        </section>

        <section class="list">
            <h3>Administration</h3>
            {% include 'CoreDashboardBundle:Admin:admin_list.html.twig' with {} only %}
        </section>

    </section>

{% endblock %}

