{% extends app.layout(_self) %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets
    'bundles/logtracker/css/chart.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <section id="logtracker">
        <h2>Log Tracker</h2>
        <h3>
            Chart
            <a href="{{ path('log_tracker_search', {'query': query}) }}" class="icon-list icon-only">list</a>
        </h3>
        {{ render(controller('CoreSearchBundle:Default:form', {'query': query})) }}
        <div id="chart" data-url="{{ path('log_tracker_data', {'query': query}) }}"
             data-redirect="{{ path('log_tracker_search') }}"><span data-type="progress"></span></div>
    </section>
{% endblock %}


{% block foot_js %}
    <script>
        document.getElementById('chart').style.height =
                (document.querySelector('main').getBoundingClientRect().height
                + document.querySelector('main').getBoundingClientRect().top
                - document.getElementById('chart').getBoundingClientRect().top
                - window.getComputedStyle(document.querySelector('#main')).marginBottom.slice(0, -2))
                + 'px';
    </script>
    {{ parent() }}
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    {% javascripts
    '@LogTrackerBundle/Resources/public/js/chart.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


