{% extends app.layout(_self) %}

{% block content %}
    <section id="logtracker">
        <h2>LogTracker</h2>
        {{ render(controller('CoreSearchBundle:Default:form')) }}
        <section>
            <h3>Visualization by daemon</h3>
            <ul>
            {% for daemon, types in list %}
                <li>{{ daemon }}
                <ul>
                    {% for type, info in types %}
                        <li>
                            {{ type }}
                            <a href="{{ path('log_tracker_chart', {'query': info.query}) }}" class="icon-only icon-chart-bar">chart</a>
                            <a href="{{ path('log_tracker_chart', {'query': info.query}) }}" class="icon-only icon-list">list</a>
                        </li>
                    {% endfor %}
                </ul>
                </li>
            {% endfor %}
            </ul>
        </section>
    </section>
{% endblock %}


