{% extends app.layout(_self) %}

{% block content %}
    <section id="serverurls-edit">
        <h2>{{ app.project.label }}: Server URLs{% if app.domain %} (domain: {{ app.domain.label }}){% endif %}</h2>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button_row">
                <button type="reset" class="icon-error icon-only">Reset</button>
                <button type="submit" class="icon-success icon-only">Submit</button>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
