{% extends app.layout(_self) %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets
    'bundles/logtracker/css/results.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <section id="logtracker">
        <h2>LogTracker</h2>
        {{ render(controller('CoreSearchBundle:Default:form', {'query': query})) }}
        <h3>
            List results
            {% if response.response.numFound > 0 %}
                ({{ response.response.numFound }})
            {% endif %}
            <a href="{{ path('log_tracker_chart', {'query': query}) }}" class="icon-chart-bar icon-only">chart</a>
        </h3>

        <section class="results">
            <aside class="facets">
                {% for name, values in response.response.facets if values|length > 1 %}
                    {% include 'LogTrackerBundle:List:facet.html.twig' with {'name': name, 'values': values, 'query': query} only %}
                {% endfor %}
            </aside>

            {% if not response.success or response.response.numFound == 0 %}
                <div>No results</div>
            {% else %}
                {% for result in response.response.docs %}
                    <article>{% include 'LogTrackerBundle:List:result.html.twig' with {'result': result} only %}</article>
                {% endfor %}

                {% include 'CoreLayoutBundle:List:pager.html.twig' with {'founds': response.response.numFound, 'rows': response.response.rows, 'start': response.response.start|default, 'page': page|default} only %}
            {% endif %}
        </section>

        {#{{ dump(results) }}#}
    </section>
{% endblock %}

{% block foot_js %}
    {{ parent() }}
    <script>
        var nodes = document.querySelectorAll('aside.facets .facet');
        Array.prototype.filter.call(nodes, function (node) {
            node.addEventListener('click', innertoggle, false);
        });
        nodes = document.querySelectorAll('article');
        Array.prototype.filter.call(nodes, function (node) {
            node.addEventListener('click', innertoggle, false);
        });
    </script>
{% endblock %}