{#{% extends "CoreLayoutBundle::layout.html.twig" %}#}
{% extends app.layout(_self) %}

{% block favicon %}
    {% if app.siteaccess == 'admin' %}
        <link rel="shortcut icon" href="/asgard-light.png" type="image/png" sizes="16x16 24x24 32x32 64x64 128x128"/>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets
    'bundles/coreadmin/css/admin.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block footer_content %}
    <div class="logo-admin flex-item-last{% if app.siteaccess == 'admin' %} selected{% endif %}">
        {% if app.siteaccess != 'admin' %}
            <a href="{{ path('core_layout_root', {'@siteaccess': 'admin'}) }}"
               class="icon-pref-alt icon-only">Back</a>
        {% else %}
            <a href="{{ path('core_layout_root', {'@siteaccess': null}) }}"
               class="icon-pref-alt icon-only">Front</a>
        {% endif %}
    </div>
    {{ parent() }}
{% endblock %}