<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block favicon %}
        <link rel="shortcut icon" href="/asgard-dark.png" type="image/png" sizes="16x16 24x24 32x32 64x64 128x128"/>
    {% endblock %}
    {% block head_css %}
        {% stylesheets
        'bundles/corelayout/css/knacss.css'
        'bundles/corelayout/css/form_theme_default.css'
        'bundles/corelayout/css/icon-animation.css'
        'bundles/corelayout/css/icon.css'
        'bundles/corelayout/css/simplenav.css'
        'bundles/corelayout/css/layout.css'
        'bundles/corelayout/css/default.css'
        'bundles/corelayout/css/alert.css'
        'bundles/corelayout/css/confirm.css'
        'bundles/corelayout/css/popin.css'
        'bundles/corelayout/css/breadcrumb.css'
        'bundles/corelayout/css/pager.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block head_js %}
        {% javascripts
        '@CoreLayoutBundle/Resources/public/js/init.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body class="{% block bodyclass %}{% if app.siteaccess %} {{ ' siteaccess-' ~ app.siteaccess }}{% endif %}{% endblock %}">

{% block header %}
    <header>
        {% block header_content %}
            <div class="logo">
                <a href="{{ path('core_layout_root') }}" class="icon-logo icon-only">Asgard</a>
            </div>
            <nav id="navigation" class="icon">
                {% block header_navbar %}{% endblock %}
            </nav>
        {% endblock %}
    </header>
{% endblock %}

{% block aside %}
    <aside>
        <nav id="tools">
            {% block tools_navbar %}
                {% include 'CoreLayoutBundle:Default:tools_list.html.twig' with {} only %}
            {% endblock %}
        </nav>
    </aside>
{% endblock %}

<main>
    {% block breadcrumb %}
        {{ breadcrumb() }}
    {% endblock %}

    <section id="main">
        {% block content %}{% endblock %}
    </section>
</main>

{% block footer %}
    <footer>
        {% block footer_content %}
            Developped by: bru.guerin.pro@gmail.com
        {% endblock %}
    </footer>
{% endblock %}

{% if has_alert() %}
    {% block alert %}
        <section id="alert">
            <ul>
                {% for alert in get_alerts() %}
                    <li class="icon-{{ alert.type }} {{ alert.type }}">{{ alert.text }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endblock %}
{% endif %}

{% block popin %}
    <section id="popin">
        <div>
            <a data-type="close" class="icon-error icon-only">Close</a>
            <div data-type="progress"><span class="icon-progress"/></div>
            <div data-type="content"></div>
        </div>
    </section>
{% endblock %}

{% block background %}
    <div id="background"></div>
{% endblock %}

{% block foot_css %}{% endblock %}
{% block foot_js %}
    {% javascripts
    '@CoreLayoutBundle/Resources/public/js/simplenav.js'
    '@CoreLayoutBundle/Resources/public/js/fixenav.js'
    '@CoreLayoutBundle/Resources/public/js/form_theme_default.js'
    '@CoreLayoutBundle/Resources/public/js/popin.js'
    '@CoreLayoutBundle/Resources/public/js/ended.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
