<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% block favicon %}
        <link rel="shortcut icon" href="/asgard-dark.png" type="image/png" sizes="16x16 24x24 32x32 64x64 128x128"/>
    {% endblock %}
    {% block head_css %}
        {% stylesheets
        'bundles/corelayout/css/knacss.css'
        'bundles/corelayout/css/icon-animation.css'
        'bundles/corelayout/css/icon.css'
        'bundles/corelayout/css/simplenav.css'
        'bundles/corelayout/css/form_theme_default.css'
        'bundles/corelayout/css/alert.css'
        'bundles/corelayout/css/default.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body class="{% block bodyclass %}flex-container-v{% if app.siteaccess %} {{ ' siteaccess-' ~ app.siteaccess }}{% endif %}{% endblock %}">

{% block header %}
    <header class="flex-container-h">
        {% block header_content %}
        <div class="logo flex-item-first">
            <a href="{{ path('core_layout_root') }}" class="icon-logo icon-only">Asgard</a>
        </div>
        <nav id="navigation" class="flex-item-fluid icon">
            {% block header_navbar %}{% endblock %}
        </nav>
        {% endblock %}
    </header>
{% endblock %}

<div class="flex-item-fluid flex-container-h">
    {% block aside %}
        <aside class="flex-item-last">
            <nav id="tools">
                {% block tools_navbar %}
                    <ul>
                        {% for tool in app.tools %}
                            <li><a href="{{ path(tool.route_name) }}" class="{{ tool.class|default('icon-no') }}">{{ tool.label }}</a></li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            </nav>
        </aside>
    {% endblock %}
    <section id="main" class="flex-item-fluid">
        {% block content %}{% endblock %}
    </section>
</div>

{% block footer %}
    <footer class="flex-item-last">
        Developped by: bru.guerin.pro@gmail.com
    </footer>
{% endblock %}

{% if has_alert() %}
    {% block alert %}
        <section id="alert">
            <ul>
                {% for alert in get_alerts() %}
                    <li class="icon-{{ alert.type }} {{ alert.type }}">{{ alert.text }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endblock %}
{% endif %}

{% block foot_css %}{% endblock %}
{% block foot_js %}
    {% javascripts
    '@CoreLayoutBundle/Resources/public/js/simplenav.js'
    '@CoreLayoutBundle/Resources/public/js/form_theme_default.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>