{% extends 'ViewerBundle:Default:form.html.twig' %}

{% block content %}
    {{ parent() }}

    <section id="viewerurl-result">
        <h2>Results</h2>
        <div class="inputicon">
        {{ form(subform) }}
        </div>

        <div>
            {% for url in urls %}
                <section class="result">
                    <h3>{{ url.serverUrl }}</h3>
                    <iframe src="{{ url.url }}" data-srcerror="{{ path('core_layout_geturl', { 'url': url.url }) }}" onload="needreload(event);"></iframe>
                </section>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block foot_js %}
    {{ parent() }}
    {% javascripts
    '@ViewerBundle/Resources/public/js/resultviewer.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}